{% extends "layout.html" %}

{% block body %}

        <p style="text-align:center; color:black; font-size:20px; font-family: courier">"ex<u>p</u>lore something n<u>ew</u>."</p>
        <br/>
        <br/>
        <form action="/experience">
            <div style = "position:absolute; left:330px; top:200px; background-color:#DBE3DF;">
                <input autocomplete autofocus name="activity" placeholder="Activity" type="text" size="45">
            </div>
            <div style = "position:absolute; left:330px; top:225px; background-color:#DBE3DF;">
                <input autocomplete autofocus name="location" placeholder="Location" type="text" size="45">
            </div>
            <div style = "position:absolute; left:470px; top:250px;">
                <button type="submit" style="font-family: montserrat background-color:transparent;
                        border: none; outline:none; cursor:pointer; background-repeat: no-repeat;
                        overflow: hidden">experience</button>
            </div>
        </form>

{% endblock %}
